$borderImage: 2px;

.aboutme-section {
  min-height: 80vh;
  width: 100%;
  display: block;
  background-color: $acc-3;

  .image-section {
    height: 500px;
    width: auto;
    background: url("../images/hacker.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    position: relative;

    &::before {
      @include imageShadowPink;
    }
  }
  .info-section {
  }
}
