.hero-section {
  background-color: $gray;
  min-height: 100vh;

  width: 100vw;
  max-width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .hero {
    width: 100%;
    height: 100%;
    display: block;
    color: white;

    &-section-bars {
      .bar {
        width: 100%;
        height: 80px;
        background-color: $lightgray;
        line-height: 60px;

        .text-animate {
          position: relative;

          &:before,
          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }

          $type-speed: 2s;

          &:before {
            background: $gray;
            animation: typewriter $type-speed steps(13) 1s forwards;
          }

          &:after {
            width: 0.125em;
            background-color: white;
            animation: typewriter $type-speed steps(13) 1s forwards,
              blink 700ms steps(13) infinite;
          }
        }
        @keyframes typewriter {
          to {
            left: 100%;
          }
        }

        @keyframes blink {
          to {
            background: transparent;
          }
        }

        .bar-content {
          max-width: 1000px;
          margin: auto;

          h1.name {
            font-weight: normal;
            display: inline-block;
          }
        }
      }
      .bar:nth-child(even) {
        background-color: $gray;
      }

      .bar-gray {
        opacity: 40%;
      }

      .bar-acc-blue {
        color: $acc-1;
      }
      .bar-acc-pink {
        color: $acc-2;
      }
      .bar-acc-yellow {
        color: $acc-3;
      }
    }
  }

  .hero-button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $acc-2;
    transition: all 0.2s;
    border: 2px solid transparent;

    &:hover {
      border: 2px solid $acc-2;
      color: $acc-2;
      background-color: transparent;
    }
  }
}

// .hero {
//   // .bgc-image {
//   //   min-height: 100vh;
//   //   width: 100px;
//   //   background-image: url("../images/nature-background.jpg");
//   //   background-position: center; /* Center the image */
//   //   background-repeat: no-repeat; /* Do not repeat the image */
//   //   background-size: cover; /* Resize the background image to cover the entire container */
//   // }
// }

@media screen and (max-width: 600px) {
  .hero-section {
    .hero {
      .bar {

        font-size: 14px;
      }
    }
  }


}
