.navbar {
  position: fixed;
  width: 100%;
  min-height: 60px;
  color: white;
  background-color: $lightgray;
  z-index: 99;

  box-shadow: rgba(223, 223, 223, 0.16) 0px 3px 6px,
    rgba(207, 205, 205, 0.1) 0px 3px 6px;
  nav {
    height: 100%;
    display: block;
    margin: auto;

    .nav-list {
      box-sizing: border-box;
      display: none;
      li {
        a {
          padding: 5px;
          border-bottom: 2px solid transparent;
          transition: 0.2s;
          &:hover {
            color: $acc-1;
          }
        }
      }
      .active {
        a {
          border-bottom: 2px solid $acc-1;
        }
      }
    }
    .mobile-nav {
      display: block;
      min-height: 40px;
      
      button {
        background-color: $lightgray;
        color: white;
        padding: 5px 10px;
        cursor: pointer;
        i {
          font-size: 20px;
        }
      }
    }
  }
}

.display-none {
  display: none;
}

@media screen and (min-width: 800px) {
  .navbar {
    nav {
      .nav-list {
        display: flex;
      }
      .mobile-nav {
        display: none;
      }
    }
  }
}
