.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 60px;
  color: white;
  z-index: 99;

  box-shadow: rgba(223, 223, 223, 0.16) 0px 3px 6px, rgba(207, 205, 205, 0.1) 0px 3px 6px;
  nav {
    width: 100%;
    .nav-list {
      box-sizing: border-box;
      display: none;
    }
    .mobile-nav {
      display: block;
    }
  }
}

.display-none {
  display: none;
}

@media screen and (min-width: 800px) {
  .navbar {
    nav {
      .nav-list {
        display: flex;
      }
      .mobile-nav {
        display: none;
      }
    }
  }
}
