<section id="contact" class="contact-section">
  <div class="max-width mt-4 p-4">
    <div class="form-header font-6">Contact me</div>
    <div class="form-wrapper pt-4">
      <div class="info p-3 font-2">
        <p>
          Send me and email, or contact me directly: <br />
          <span class="blue">test@test.pl</span>
          
        </p>

        <div class="pt-3 profile-links">
          <div class="p-2">
            <button class="linkedin-link">
              <a href="#"><i class="pr-1 fa-brands fa-linkedin"></i>LinkedIn</a>
            </button>
          </div>
          <div class="p-2">
            <button class="github-link">
              <a href="#"> <i class="pr-1 fa-brands fa-github"></i>Github </a>
            </button>
          </div>
        </div>
      </div>
      <div class="form-section p-2">
        <form class="form">
          <div class="p-1">
            <input placeholder="Your name..." class="p-1" type="text" />
          </div>
          <div class="p-1">
            <input placeholder="Your email..." class="p-1" type="text" />
          </div>
          <div class="p-1">
            <textarea
              class="p-1"
              placeholder="Your message..."
              rows="10"
            ></textarea>
          </div>
          <div class="p-1 mt-1">
            <button class="" type="submit">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
