<section id="home" class="hero-section">
  <div class="hero">
    <div class="hero-section-bars font-7">
      <div class="bar">
        <div class="max-width bar-content p-1">
          <span class="bar-gray">&sol;&sol;Hello world!</span>
        </div>
      </div>
      <div class="bar">
        <div class="max-width bar-content p-1">
          <h1 class="name bar-acc-blue font-7">My name is Adam</h1>
          <span class="bar-acc-yellow">=</span
          > <span class="text-animate bar-acc-pink">web developer</span>
        </div>
      </div>
      <div class="bar">
        <div class="max-width bar-content p-1">
          <span class="bar-acc-yellow">info()</span> {
        </div>
      </div>
      <div class="bar">
        <div class="max-width bar-content p-1 pl-4">
          <span class="bar-acc-pink pl-4">return</span>
          <span class="bar-acc-blue">Check my projects!</span>
        </div>
      </div>
      <div class="bar">
        <div class="max-width bar-content p-1">};</div>
      </div>
    </div>
  </div>
  <a href="#aboutme"
    ><div class="hero-button font-5 p-1 pl-2 pr-2">
      <i class="fas fa-angle-down"></i>
    </div>
  </a>
</section>
