$gray: #292c36;
$lightgray: #2b2f3b;

// accents
$acc-1: #aef1ff;
$acc-2: #e8a3ec;
$acc-3: #ffd79c;
$acc-4: #3e3de6;
$acc-5: #e7618b;

// values
$base-margin: 10px;
$base-padding: 10px;
$base-font-size: 1rem;
