// reset
@import "base";

// variables & utilities
@import "variables";
@import "global";
@import "utilities";

// components
@import "components/navbarSection";
@import "components/heroSection";
@import "components/aboutmeSection";
@import "components/gallery";
@import "components/contact";
@import "components/footer";

// global responsiveness
@import "globalResponsive";
