<section id="skills" class="skills-section max-width mt-2 p-4">
  <div class="max-width p-2 skills">
    <div class="font-2 section-header">// What i use?</div>
    <h2 class="font-6 mt-2">
      My <span class="dark-blue">skills</span> and
      <span class="dark-pink">technologies</span>
    </h2>
    <div class="circle-wrapper m-2">
      <div class="circle-item p-2">
        <div class="circle-header font-2 p-2">HTML5</div>
        <div class="cir-anim circle-1"></div>
      </div>
      <div class="circle-item p-2">
        <div class="circle-header font-2 p-2">CSS & SCSS</div>
        <div class="cir-anim circle-2"></div>
      </div>
      <div class="circle-item p-2">
        <div class="circle-header font-2 p-2">JAVASCRIPT</div>
        <div class="circle-3"></div>
      </div>
    </div>
    <div class="circle-wrapper m-2">
      <div class="circle-item p-2">
        <div class="circle-header font-2 p-2">REACT.JS</div>
        <div class="cir-anim circle-4"></div>
      </div>
      <div class="circle-item p-2">
        <div class="circle-header font-2 p-2">WORDPRESS</div>
        <div class="cir-anim circle-5"></div>
      </div>
      <div class="circle-item p-2">
        <div class="circle-header font-2 p-2">FIGMA</div>
        <div class="circle-6"></div>
      </div>
    </div>
  </div>
</section>
