<section id="skills" class="skills-section max-width mt-2 p-4">
  <div class="mt-4 max-width p-2 skills">
    <div class="mt-2 font-6">My skills, and technologies i use</div>
    <div class="circle-wrapper m-2">
      <div class="circle-item p-2">
        <div class="circle-1-header font-2 p-2">HTML5</div>
        <div class="cir-anim circle-1"></div>
      </div>
      <div class="circle-item p-2">
        <div class="circle-2-header font-2 p-2">CSS & SCSS</div>
        <div class="cir-anim circle-2"></div>
      </div>
      <div class="circle-item p-2">
        <div class="circle-3-header font-2 p-2">JAVASCRIPT</div>
        <div class=" circle-3"></div>
      </div>
    </div>
  </div>
</section>
