<nav id="nav">
  <div class="navbar">
    <nav id="nav" class="p-1 max-width font-2">
      <div class="desktop-nav">
        <ul class="nav-list">
          <li class="p-1 home active"><a href="#home">Home</a></li>
          <li class="p-1 aboutme"><a href="#aboutme">About me</a></li>
          <li class="p-1 projects"><a href="#projects">Projects</a></li>
          <li class="p-1 contact"><a href="#contact">Contact</a></li>
        </ul>
      </div>
      <div class="mobile-nav">
        <button class="toggle-nav font-4"><i class="fa fa-bars"></i></button>
        <ul class="pt-2 nav-list-mobile display-none">
          <li class="p-1 home"><a href="#home">Home</a></li>
          <li class="p-1 aboutme"><a href="#aboutme">About me</a></li>
          <li class="p-1 projects"><a href="#projects">Projects</a></li>
          <li class="p-1 contact"><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
</nav>
