<div>
  <div class="navbar">
    <nav id="nav" class="p-1 max-width">
      <div class="desktop-nav">
        <ul class="nav-list">
          <li class="p-1">Start</li>
          <li class="p-1">Home</li>
          <li class="p-1">Contact</li>
        </ul>
      </div>
      <div class="mobile-nav">
        <button class="toggle-nav"><i class="fa fa-bars"></i></button>
        <ul class="nav-list-mobile display-none">
          <li class="p-1">Start</li>
          <li class="p-1">Home</li>
          <li class="p-1">Contact</li>
        </ul>
      </div>
    </nav>
  </div>

</div>
