<footer class="footer p-3">
  <div>Adam Kudłacik 2022 &copy; Web development</div>
  <div class="scroll-animation">
    <a href="#home"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        width="50px"
        height="50px"
      >
        <defs>
          <linearGradient id="GradientColor">
            <stop offset="0%" stop-color="#3e3de6" />
            <stop offset="100%" stop-color="#e7618b" />
          </linearGradient>
        </defs>
        <circle cx="25" cy="25" r="25" stroke-linecap="round" /></svg
      ><i class="fas fa-arrow-up"></i
    ></a>
  </div>
</footer>
