<div class="aboutme-section">
  <div class="max-width aboutme p-4">
    <div class="aboutme-content pt-2">
      <div class="image-section"></div>

      <div class="info-section pt-4 mt-3">
        <div class="info-section-header font-3 p-1">// Who i Am?</div>
        <div class="font-6 mt-2">
          My name is <span id="hello" class="dark-blue">Adam Kudłacik</span>
        </div>
        <p class="pt-1 font-2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum
          repellendus mollitia deleniti expedita. Cumque dignissimos sed laborum
          sit enim. Incidunt ut vel rem obcaecati sapiente sunt asperiores
          mollitia a quae.
        </p>

        <p class="pt-1 font-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dicta
          quisquam eum culpa doloremque quis doloribus laboriosam dolorum
          provident aliquam dolore voluptatum nobis aut labore, reiciendis ut
          beatae veritatis nisi!
        </p>

        <div class="pt-3 font-3">
          <span class="dark-pink">Web development is my passion!</span>
        </div>
        <p class="pt-1 font-2">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, enim!
          Voluptatibus veritatis modi, et quae magnam ea porro sunt repellendus
          qui voluptas eveniet itaque maxime ipsam impedit magni eius ex. Iusto
          explicabo fugit dolorum nesciunt architecto laudantium, fuga
          voluptatum dolores consectetur vel assumenda. Id veniam molestiae fuga
          odio, tenetur dolorem quo quis nulla voluptatem culpa facilis cum sit
          assumenda eos!
        </p>
      </div>
    </div>
  </div>
</div>
